@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,800;1,200;1,400;1,600;1,800&family=Rubik:wght@400;500;600;800&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: -webkit-gradient(linear, left top, right top, from(#18b7d7), to(#143ab8));
  background: linear-gradient(90deg, #18b7d7, #143ab8);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 32px;
  background-color: transparent;
}

header .logo {
  max-width: 200px;
}

header .nav-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

header .nav-list li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}

header .nav-list li a:hover {
  text-decoration: underline;
}

header .open-menu,
header .close-menu {
  display: none;
}

@media (max-width: 550px) {
  header .open-menu,
  header .close-menu {
    display: block;
    background-color: transparent;
    cursor: pointer;
    border-radius: 10px;
    font-size: 32px;
    border: none;
  }
  header .open-menu {
    color: #ffffff;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  header .open-menu:hover {
    background-color: #494949;
  }
  header .close-menu {
    color: #000000;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  header .close-menu:hover {
    background-color: #494949;
    color: #fff;
  }
  header .nav {
    opacity: 0;
    visibility: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    gap: 16px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 32px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  }
  header .nav.visible {
    opacity: 1;
    visibility: visible;
  }
  header .nav .nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
  header .nav .nav-list a {
    color: #000000;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
  }
}

.presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.presentation h1 {
  text-align: center;
  color: #fff;
  font-size: 48px;
  font-weight: 800;
  margin: 5px;
  padding: 5px;
  font-family: 'Rubik', sans-serif;
}

.presentation p {
  text-align: center;
  color: #fff;
  margin: 5px;
  padding: 5px;
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
}

.how-to-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 100px 50px;
}

.how-to-add .instructions {
  padding: 15px;
  border-radius: 10px;
  background-color: #f1e8e8;
  -webkit-box-shadow: 0px 20px 50px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 20px 50px 10px rgba(0, 0, 0, 0.5);
}

.how-to-add .instructions h2 {
  margin: 5px 0 5px 0;
  font-family: 'Rubik', sans-serif;
}

.how-to-add .instructions ol li {
  margin: 10px 0 10px 10px;
  font-size: 18px;
  line-height: 2;
  font-family: 'Poppins', sans-serif;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 100px 50px;
}

.container .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  border-radius: 10px;
  background-color: #f1e8e8;
  -webkit-box-shadow: 0px 20px 50px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 20px 50px 10px rgba(0, 0, 0, 0.5);
}

.container .form .general-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  margin: 10px;
  padding: 5px;
  width: 500px;
}

.container .form .general-data img {
  width: 30px;
}

.container .form .general-data #name {
  border-radius: 5px;
  border: none;
  height: 30px;
  width: 450px;
  -webkit-box-shadow: 0px 2px 10px 2px rgba(24, 183, 215, 0.5);
          box-shadow: 0px 2px 10px 2px rgba(24, 183, 215, 0.5);
  padding: 5px;
}

.container .form .general-data #name::-webkit-input-placeholder {
  color: #000000;
}

.container .form .general-data #name:-ms-input-placeholder {
  color: #000000;
}

.container .form .general-data #name::-ms-input-placeholder {
  color: #000000;
}

.container .form .general-data #name::placeholder {
  color: #000000;
}

.container .form #message {
  width: 450px;
  border-radius: 5px;
  border: none;
  -webkit-box-shadow: #143ab8;
          box-shadow: #143ab8;
  padding: 10px;
}

.container .form #message::-webkit-input-placeholder {
  color: #000000;
}

.container .form #message:-ms-input-placeholder {
  color: #000000;
}

.container .form #message::-ms-input-placeholder {
  color: #000000;
}

.container .form #message::placeholder {
  color: #000000;
}

.container .form .button-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
}

.container .form .button-bar .reload {
  margin: 10px;
  padding: 5px;
  background-color: #f02828;
  border-radius: 5px;
  border: none;
  font-size: 24px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 50px;
  color: #fdfcfc;
  cursor: pointer;
}

.container .form .button-bar .reload:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.container .form .button-bar .send {
  margin: 10px;
  padding: 5px;
  background-color: #87f22a;
  border-radius: 5px;
  border: none;
  font-size: 24px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 50px;
  color: #6c6c6c;
  cursor: pointer;
}

.container .form .button-bar .send:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.container-comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 100px 50px;
  border-radius: 10px;
  background-color: #ffffff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-comments ul {
  margin: 10px;
}

.container-comments ul li {
  margin: 30px;
  border-radius: 5px;
  border: none;
  width: 450px;
  height: auto;
  -webkit-box-shadow: 0px 2px 10px 2px rgba(24, 183, 215, 0.5);
          box-shadow: 0px 2px 10px 2px rgba(24, 183, 215, 0.5);
  padding: 5px;
  list-style: none;
}

.container-comments ul li h4 {
  margin: 5px;
  border-radius: 5px;
  text-transform: capitalize;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
}

.container-comments ul li p {
  margin: 10px;
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
}

.container-comments .empty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 50px;
  border-radius: 10px;
  background-color: #ffffff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=style.css.map */